<p>
  <b>Owner:</b>
  <%=h @meeting.owner_id %>
</p>

<p>
  <b>Duration:</b>
  <%=h @meeting.duration %>
</p>

<p>
  <b>Date:</b>
  <%=h @meeting.date %>
</p>


<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>