<p>
  <b>User:</b>
  <%=h @status.user_id %>
</p>

<p>
  <b>Feeling sick:</b>
  <%=h @status.feeling_sick %>
</p>

<p>
  <b>Symptoms:</b>
  <%=h @status.symptoms %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>