= form.error_messages
.text_field
  = form.label :email
  = form.text_field :email,:class => 'text'
.password_field
  = form.label :password 
  = form.password_field :password,:class => 'text'
.password_field
  = form.label :password_confirmation 
  = form.password_field :password_confirmation,:class => 'text'
