%tr
  %td= h role.name
  %td= h role.description
  %td= link_to 'Show', admin_role_url(role)
  %td= link_to 'Edit', edit_admin_role_url(role)
  %td= link_to 'Destroy', admin_role_path(role), :confirm => 'Are you sure?', :method => :delete
