= render :partial => '/admin/menu' 
%dl
  %dt Name
  %dd= h @role.name
  %dt Description
  %dd= h @role.description

%p
  = link_to 'Edit', edit_admin_role_path(@role)
  |
  = link_to 'Back', admin_roles_path
