.text_field
  = form.label :login
  %br
  = form.text_field :login , :class => 'text'
.text_field
  = form.label :email
  %br
  = form.text_field :email , :class => 'text'
.text_field
  = form.label :password
  %br
  = form.text_field :password , :class => 'text'
.text_field
  = form.label :password_confirmation
  %br
  = form.text_field :password_confirmation , :class => 'text'
.text_field
  = form.label :type
  %br
  = form.text_field :type , :class => 'text'
.text_field
  = form.label :persistence_token
  %br
  = form.text_field :persistence_token , :class => 'text'
.text_field
  = form.label :single_access_token
  %br
  = form.text_field :single_access_token , :class => 'text'
.text_field
  = form.label :perishable_token
  %br
  = form.text_field :perishable_token , :class => 'text'
.text_field
  = form.label :login_count
  %br
  = form.text_field :login_count , :class => 'text'
.text_field
  = form.label :failed_login_count
  %br
  = form.text_field :failed_login_count , :class => 'text'
.text_field
  = form.label :last_request_at
  %br
  = form.datetime_select :last_request_at , :class => 'text'
.text_field
  = form.label :current_login_at
  %br
  = form.datetime_select :current_login_at , :class => 'text'
.text_field
  = form.label :last_login_at
  %br
  = form.datetime_select :last_login_at , :class => 'text'
.text_field
  = form.label :current_login_ip
  %br
  = form.text_field :current_login_ip , :class => 'text'
.text_field
  = form.label :last_login_ip
  %br
  = form.text_field :last_login_ip , :class => 'text'
