.login_box
  - form_for :user_session, :url => user_session_path do |form| 
    .text_field
      = form.label :login, 'Login or Email'
      = form.text_field :login, :class => "text"
    .text_field
      = form.label :password
      = form.password_field :password, :class => "text"
    .text_field.checkbox
      = form.label :remember_me 
      = form.check_box :remember_me 
    .submit_field
      = form.submit 'Login'
      =link_to "Forgot My Password", new_password_url
.signup_box
  %h2 Dont have an account yet?
  %h3=link_to 'Signup now!', signup_url

