!!!
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html charset=utf-8", "http-equiv" => "Content-Type" }
    %title== #{APP_NAME} 
    = stylesheet_link_tag 'blueprint/screen', :media => 'screen'
    = stylesheet_link_tag 'blueprint/print',  :media => 'print'
    = "<!--[if IE]>#{stylesheet_link_tag 'blueprint/ie', :media => 'screen'}<![endif]-->" 
    = stylesheet_link_tag 'style', :media => 'screen'
    = javascript_include_tag :defaults, '/facebox/facebox', :cache => true
  %body
    .container
      #header= render :partial => '/shared/header'
      - flash.each do |key, value|
        %div{:class => key}= h(value)
      #bd= yield
      #footer= render :partial => '/shared/footer'  
