!!!
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html charset=utf-8", "http-equiv" => "Content-Type" }
    %title= APP[:name]
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
  %body
    #header= render :partial => '/shared/header'
    #body
      .container    
        - flash.each do |key, value|
          %div{:class => key}= h(value)
        #menu= render :partial => '/admin/menu' 
        = yield  
        #footer= render :partial => '/shared/footer'
            
