!!!
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html charset=utf-8", "http-equiv" => "Content-Type" }
    = stylesheet_link_tag 'style.css', 'facelist.css', 'overlay.css', 'login.css'
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = javascript_include_tag 'jquery-1.3.2.min.js', 'jquery.autocomplete.js', 'jquery.facelist.js', 'jquery.tools.min.js', 'application.js', 'jquery-ui-1.7.2.custom.min.js'
    %title Pandemic ROI Prototype
  %body
    - if @current_user
      Logged in as #{@current_user.login} (#{link_to 'Log out', '/logout'})

    = yield
           
