!!!
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html charset=utf-8", "http-equiv" => "Content-Type" }
    %title= APP[:name]
    = stylesheet_link_tag 'blueprint/screen', :media => 'screen'
    = stylesheet_link_tag 'blueprint/print',  :media => 'print'
    = "<!--[if IE]>#{stylesheet_link_tag 'blueprint/ie', :media => 'screen'}<![endif]-->" 
    = stylesheet_link_tag 'style', :media => 'screen', :cache => true
    = javascript_include_tag 'jquery.noconflict.js', :defaults, :cache => true
  %body
    .container
      - flash.each do |key, value|
        %div{:class => key}= h(value)
      #header= render :partial => '/shared/header'
      - if logged_in?
        #subheader= render :partial => '/dashboard/menu' 
      #bd= yield  
           

